* {
    margin: 0;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1.2rem;
}

button,
input,
p,
a,
h5 {
    font-size: 1rem;
}

select,
h6 {
    font-size: 0.9rem;
}

body {
    width: 100%;
    height: 100vh;
    font-family: "Verdana";
}

#root {
    width: 100%;
    height: auto;
}